/* All pages */

body {
    background-color: #ECE4E2;
    font-family: "Hind Siliguri", Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    margin: 20px;
    justify-self: center;
}

h1 {
    font-family: "Nunito Sans", Verdana, Geneva, Tahoma, sans-serif;
    color: #482335;
}

h2 {
    font-family: "Taviraj", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4em;
}

a {
    text-decoration: none;
    color: #000000;
}

p {
    max-width: 650px;
}

/* Header */

header img {
    max-width: 30vw;
    max-height: 200px;
}

.nav-bar {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
}

nav {
    font-weight: 600;
    font-size: 1.1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

nav a {
    padding: 10px;
}

.current {
    color: #482335;
    text-transform: uppercase;
}

.search {
    background-color: #482335;
    text-align: center;
    color: #ffffff;
    padding: 5px;
}

.search-input {
    font-size: 1.1em;
    border-radius: 10px;
    border: none;
}

/* Footer */

footer {
    background-color: #482335;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

footer h2 {
    margin-bottom: 2px;
}

footer p {
    margin-top: 0px;
    margin-bottom: 0px;
}

footer i {
    margin: 20px 10px;
}

/* Home page */

.image-link {
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
    display: flex;
    margin-bottom: inherit;
    max-width: 633px;
}

.image-link img {
    max-width: 100%;
}

.image-link p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.link-yel {
    background-color: #F2B705;
}

.link-pin {
    background-color: #DB67AE;
}

.link-blu {
    background-color: #00A1EA;
}

/* H2 with image */

.img-h2 {
    display: grid;
    text-align: center;
    max-width: 100%;
    align-items: center;
    max-width: 650px;
}

.img-left {
    grid-template-columns: 60% 40%;
}

.img-right {
    grid-template-columns: 40% 60%;
}

.img-h2 img {
    max-width: 100%;
}

/* Desktop */

@media (min-width: 850px) {
    nav {
        display: inline;
        font-size: 1.5em;
    }   
     
    .nav-bar {
        grid-gap: 2em;
    }

    .two-column {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4em;    
    }
}